<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EuglohApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="n"
        tools:ignore="ExtraText">
        <activity
            android:name=".PropositionNews"
            android:exported="false" />
        <activity
            android:name=".PropositionEvenements"
            android:exported="false" />
        <activity
            android:name=".PageNews"
            android:exported="false" />
        <activity
            android:name=".PageEvenements"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false"
            android:label="Menu" />
        <activity
            android:name=".ConnexionCAS"
            android:exported="false"
            android:label="ConnexionCAS" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
